.calendar-container {
  height: 100%; /* Set the height to 100% */
  margin: 0 auto;
  overflow-y: auto; /* 필요한 경우에만 세로 스크롤바 표시 */
  width: 100%;
}

.parent-container {
  padding: 0 24px;
  margin: 0 auto;
  min-height: 800px; /* Example height, adjust as needed */
}

.icon {
  display: flex;
  align-items: center;
}

